<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ConnectPrdt">
    <!-- insert -->
    <insert id="insertConnectPrdt"
        parameterType="ConnectionProduct">
        /* Product.insertConnectPrdt */
        INSERT INTO
        tb_connection_product (cntr_prdt_code, cntr_prdt_mstr_code)
        VALUES(#{cntrPrdtCode}, #{cntrPrdtMstrCode})
    </insert>
</mapper>